body * {
    font-family: "Open Sans", sans-serif;
  }
  
  h1 {
    font-weight: 900;
  }
  
  body {
    background-color: lightgray;
  }
  
  .page {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .vis-container {
    width: 100%;    /* Set the width for the containers */
    height: 400px; /* Set the height for the containers */
    padding: 20px;
  }
  
  .pure-g {
    margin-bottom: 40px;
  }
  
  .card-title{
    margin-top: 25px;
  }
  